# This is Git's per-user configuration file.

# git config --global --help

# Config file location
#     --global              use global config file
#     --system              use system config file
#     --local               use repository config file
#     -f, --file <file>     use given config file


########################################################

## ALWAYS SET ONE IN THE REPO (Local)

##   look at the zsh functions __GIT-AL and __GIT-SIGNET

## AND LEAVE THIS ONE (global) BLANK

########################################################

# # [user]
# #     name = Le Morph
# #     name = Arnold Lasrado
# #     name = a12o
# #     email=Arnold.Lasrado@gmail.com

# # [remote "origin"]  SEE .ssh/config
# #     url = git@github.github.a12o:USER_NAME/Repo_Name
# #     url = git@github.github.LeMorph:USER_NAME/Repo_Name
# #     url = git@github.bitbucket.LeMorph:USER_NAME/Repo_Name
# #     url = git@github.bitbucket.zalecorp:USER_NAME/Repo_Name


# # Example
# [core]
#     repositoryformatversion = 0
#     filemode = true
#     bare = false
#     logallrefupdates = true
#     ignorecase = true
#     precomposeunicode = true
# [user]
#     name = Le Morph
#     email=Arnold.Lasrado@gmail.com
# [remote "origin"]
#     url = git@github.LeMorph:LeMorph/Conf
#     fetch = +refs/heads/*:refs/remotes/origin/*
# [branch "master"]
#     remote = origin
#     merge = refs/heads/master
# [remote "DT"]
#     url = git@github.github.a12o:cloudvox/devops
#     fetch = +refs/heads/*:refs/remotes/DT/*

########################################################

## ALWAYS SET ONE IN THE REPO (Local)
## AND LEAVE THIS ONE (global) BLANK

########################################################

[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = white reverse
[pager]
       diff = diff-so-fancy | less --tabs=1,5 -RFX
       show = diff-so-fancy | less --tabs=1,5 -RFX

[diff-so-fancy]
	stripLeadingSymbols = false
	changeHunkIndicators = false
[core]
    hooksPath = ~/Arnold/myCFG/githooks
    whitespace = -blank-at-eof
    autocrlf = input
    pager = less -JFiXeR

